 .count_class {
  position: absolute;
  right: 258px;
  margin-top: -32px;
  display: flex;
  align-items: center;
  color: var(--primaryCategoryColor);

  .count {
   font-size: 12;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   background-color: var(--primaryCategoryColor);
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 3px;
  }
 }
